<div class="container">
    <div class="pt-5">
  
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
  
      <div class="card">
        <div class="card-header">
          <div class="row">
  
            <div class="col-6">
              <h3>All Instruments</h3>
            </div>
  
            <div class="col-6 text-end">
              <button class="btn btn-primary" (click)="createInstrumentRequest()">Create Instrument</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Type</th>
              <th scope="col">Model</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of instrumentList; index as ind">
              <th scope="row">{{ind + 1}}</th>
              <td>{{item.name}}</td>
              <td>{{item.price | currency: 'USD'}}</td>
              <td>{{item.type}}</td>
              <td>{{item.model}}</td>
              <td>{{item.createTime | date: 'medium'}}</td>
              <td>
                <button class="btn btn-primary me-1" (click)="editInstrumentRequest(item)">Edit</button>
                <button class="btn btn-danger" (click)="deleteInstrument(item, ind)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <app-instrument [instrument]="selectedInstrument" (save)="saveInstrumentWatcher($event)"></app-instrument>