<div class="modal fade" id="instrumentModal" tabIndex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #f="ngForm" (ngSubmit)="f.form.valid && saveInstrument()">
  
          <div class="modal-header">
            <h5 class="modal-name">Instrument Details</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
  
          <div class="modal-body">
  
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>Error!</strong> {{errorMessage}}
            </div>
  
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                [(ngModel)]="instrument.name"
                #name="ngModel"
                required
              />
              <div class="alert-danger" *ngIf="f.submitted && !name.valid">
                Instrument name is required.
              </div>
            </div>
  
            <div class="form-group">
              <label for="model">Model</label>
              <input
                type="text"
                id="model"
                name="model"
                class="form-control"
                [(ngModel)]="instrument.model"
                #model="ngModel"
                required
              />
              <div class="alert-danger" *ngIf="f.submitted && !model.valid">
                Instrument model is required.
              </div>
            </div>
  
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                id="price"
                name="price"
                class="form-control"
                [(ngModel)]="instrument.price"
                #price="ngModel"
                required
              />
              <div class="alert-danger" *ngIf="f.submitted && (!price.valid || instrument.price <= 0)">
                Price is required and should be greater than 0.
              </div>
            </div>
  
  
            <div class="form-group">
              <label for="type">Type</label>
              <input
                id="type"
                type="text"
                name="type"
                class="form-control"
                [(ngModel)]="instrument.type"
                #type="ngModel"
                required>
              <div class="alert-danger" *ngIf="f.submitted && !type.valid">
                Type is required.
              </div>
              <form enctype="multipart/form-data">
              <br>
                <label for="formFile" class="form-label">Choose an Image</label>
                <input type="file" class="form-control" id="formFile" (change)="onFileChanged($event)">
                <img [src]="imgURL" alt="image" height="200" width="200" *ngIf="imgURL">
              <br>
              </form>
            </div>
  
          </div>
  
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Save Changes</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>